<div class="row m-3">
    <div class="col-xl-8 text-center">
        <ng-container *ngIf="isLoading; then loadingTmpl; else loadedTmpl"></ng-container>
    </div>
    <div class="col-xl-4 text-center">
        <app-generate-proof (proofAdded)="onProofAdded()"></app-generate-proof>
    </div>
</div>

<ng-template #loadingTmpl>
</ng-template>

<ng-template #loadedTmpl>
    <ng-container *ngIf="proof && proof.length > 0; then proofTmpl; else noProofTmpl"></ng-container>
</ng-template>

<ng-template #proofTmpl>
    <table class="table table-bordered m-1 w-100">
        <tbody>
            <tr>
                <td class="align-middle text-center">№</td>
                <td class="align-middle text-center">Signals count</td>
                <td class="align-middle text-center">From</td>
                <td class="align-middle text-center">To</td>
                <td class="align-middle text-center">Profit</td>
            </tr>
            <tr *ngFor="let proofItem of proof; let i = index">
                <td class="align-middle text-center">{{i+1}}</td>
                <td class="align-middle text-center">{{tradeSize}}</td>
                <td class="align-middle text-center">{{proofItem.dateFrom | date: 'd MMMM y hh:mm aa'}}</td>
                <td class="align-middle text-center">{{proofItem.dateTo | date: 'd MMMM y hh:mm aa'}}</td>
                <td class="align-middle text-center" [ngClass]="{'table-success': proofItem.percentage > 0, 'table-danger': proofItem.percentage < 0}">{{proofItem.percentage | number : '1.2-2'}}%</td>
            </tr>
        </tbody>
    </table>
</ng-template>

<ng-template #noProofTmpl>
    <h4>There are no proof yet</h4>
</ng-template>