<div class="row my-1">
    <div class="col">
        <button class="btn btn-link" [disabled]="true">Back</button>
        <h3>Select action:</h3>
    </div>
</div>
<div class="row align-items-center my-1">
    <div class="col"></div>
    <div *ngFor="let action of actions" class="col">
        <button type="button" class="btn btn-lg btn-outline-dark" (click)="setAction(action)">
            <span class="p-3">{{actionsText[action]}}</span>
        </button>
    </div>
    <div class="col"></div>
</div>