<div class="row m-3">
    <div class="col-xl-4 text-center">
        <app-add-signal (signalAdded)="onSignalAdded($event)"></app-add-signal>
    </div>
    <div class="col-xl-8 text-center">
        <table class="table table-bordered m-1 w-100">
            <tbody>
                <tr>
                    <td class="align-middle text-center">№</td>
                    <td class="align-middle text-center">Action</td>
                    <td class="align-middle text-center">Amount</td>
                    <td class="align-middle text-center">Nonce</td>
                    <td class="align-middle text-center">Currency</td>
                    <td class="align-middle text-center">Price</td>
                    <td class="align-middle text-center">Proved</td>
                </tr>
                <tr *ngFor="let signal of signals; let i = index">
                    <td class="align-middle text-center">{{i+1}}</td>
                    <td class="align-middle text-center">{{actionsText[signal.action]}}</td>
                    <td class="align-middle text-center">{{signal.amount / maxDecimals | number : '1.4-4'}}</td>
                    <td class="align-middle text-center">{{signal.nonce}}</td>
                    <td class="align-middle text-center">{{currenciesText[signal.currency]}}</td>
                    <td class="align-middle text-center">{{signal.price/ maxDecimals | number : '1.0-0'}}$</td>
                    <td class="align-middle text-center">
                        <fa-icon *ngIf="signal.isProved" style="color: darkgreen" [icon]="faCheckCircle" size="2x"></fa-icon>
                        <fa-icon *ngIf="!signal.isProved" style="color: darkred" [icon]="faTimesCircle" size="2x"></fa-icon>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>