<div class="row my-1">
    <div class="col">
        <button class="btn btn-link" (click)="backClick()">Back</button>
        <h3>Enter amount:</h3>
    </div>
</div>
<div class="row align-items-center my-1">
    <div class="col">
        <form (ngSubmit)="enterAmount()">
            <div class="input-group input-group-lg">
                <input
                    required
                    type="text"
                    class="form-control text-center"
                    id="sum"
                    name="sum"
                    [dropSpecialCharacters]="false"
                    [allowNegativeNumbers]="false"
                    [mask]="'separator.4'"
                    [(ngModel)]="amount"
                >
                <div class="input-group-append">
                  <button class="btn btn-dark" type="submit" [disabled]="!amount || +amount <= 0">Next...</button>
                </div>
              </div>
        </form>
    </div>
</div>