<div class="card text-center bg-light m-3">
    <div class="card-header bg-dark">
        <span class="text-light name"> {{strategy.email}} </span>
    </div>
    <div class="card-body">
        <ng-container *ngIf="strategy.proofIds.length > 0; then proofTmpl; else emptyProofTmpl"></ng-container>
    </div>
    <div class="card-footer text-muted">
        {{strategy.date | timeago}}
    </div> <!--  | date: 'd MMMM y' -->
</div>

<ng-template #emptyProofTmpl>
    <div class="row my-3">
        <div class="col my-auto">
            <span class="state">
                There are no
            </span>
        </div>
    </div>
    <div class="row my-3">
        <div class="col my-auto">
            <span class="state">
                proof periods
            </span>
        </div>
    </div>
    <div class="row my-3">
        <div class="col my-auto">
            <span class="state">
                yet
            </span>
        </div>
    </div>
</ng-template>

<ng-template #proofTmpl>
    <div class="row my-3">
        <div class="col-8 my-auto">
            <span class="float-left">
                Profit per month:
            </span>
        </div>
        <div class="col-4 my-auto">
            <span class="float-right" [ngClass]="{'text-success': strategy.avgProfitPerMonth > 0, 'text-danger': strategy.avgProfitPerMonth < 0}">
                {{strategy.avgProfitPerMonth | number : '1.2-2'}}%
            </span>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-8 my-auto">
            <span class="float-left">
                Trades per month:
            </span>
        </div>
        <div class="col-4 float-right my-auto">
            {{strategy.avgProofCountPerMonth * 2 | number : '1.0-0'}}
        </div>
    </div>
    <div class="row my-3">
        <div class="col-7 my-auto">
            <ng-container *ngIf="strategy.state === 'success'">
                <span class="float-left text-success state">{{verificationStatesText[strategy.state]}}</span>
            </ng-container>
            <ng-container *ngIf="strategy.state === 'failed'">
                <span class="float-left text-danger state">{{verificationStatesText[strategy.state]}}</span>
            </ng-container>
            <ng-container *ngIf="strategy.state === 'processing'">
                <span class="float-left text-info state">{{verificationStatesText[strategy.state]}}</span>
            </ng-container>
            <span *ngIf="strategy.state === 'unverified'" class="btn-link float-left pointer-cursor" (click)="verifyTrader()">Verify Trader</span>
        </div>
        <div class="col-5 my-auto">
            <btn class="btn-link pointer-cursor" [routerLink]="['/user/trader', strategy.id]">Details...</btn>
        </div>
    </div>
</ng-template>