<div class="row my-1">
    <div class="col">
        <button class="btn btn-link" (click)="backClick()">Back</button>
        <h3>Select currency:</h3>
    </div>
</div>
<div class="row align-items-center my-1">
    <div class="col"></div>
    <div *ngFor="let currency of currencies" class="col">
        <button type="button" class="btn btn-lg btn-outline-dark" [disabled]="currency !== 'btc'" (click)="selectCurrency(currency)">
            {{currenciesText[currency]}}
        </button>
    </div>
    <div class="col"></div>
</div>