<div class="row h-100 align-items-center m-0">
    <div class="d-none d-xl-block col-xl h-50"></div>
    <div class="col-xl h-50 text-center btn btn-outline-dark rounded-lg m-2 p-0 moony-gradient" (click)="goTo('user')">
        <div class="row h-100 align-items-center m-0 p-0">
            <div class="col text-center">
                <fa-icon [icon]="faUser" size="6x"></fa-icon>
                <p class="whoiam m-3">
                    <ins>I am User</ins>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl h-50 text-center btn btn-outline-dark rounded-lg m-2 p-0 moony-gradient" (click)="goTo('trader')">
        <div class="row h-100 align-items-center m-0 p-0">
            <div class="col text-center">
                <fa-icon [icon]="faChalkboardTeacher" size="6x"></fa-icon>
                <p class="whoiam m-3">
                    <ins>I am Trader</ins>
                </p>
            </div>
        </div>
    </div>
    <div class="d-none d-xl-block col-xl h-50"></div>
</div>